* {
    margin:0;
    padding:0;
}

html, 
body {
    height: max-content;
}

/* body{
    display: flex;
} */

.container {
    display:flex;
    height: 100%;
}

/* .left-side, .right-side {
    float: left;
} */

.left-side {
    /* width: 35.5%; */
    flex:0 0 680px;
    align-items: stretch;
    z-index: 1;
}

.right-side {
    /* width: 64.5%; */
    flex-grow: 1;
    background-image: url(./img/image_summer.jpg);
    background-size: cover;
}

.left-side a {
    text-decoration: none;
    font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color:  #6A707B;
}

nav {
    height: 66px;
    width: 71%;
    margin: 100px auto 0 auto;
}

nav li {
    list-style-type: none;
    float: left;
    margin-top: 15px;
    margin-left: 5.3%;
}



.logo {
    float: left;
    width: 44%;
}

.content-container {
    padding-top: 205px;
    width: 399px;
    margin: 0 auto 340px auto;
}

.content-container h3 {
    font-family: "Georgia";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color:#131821;
}

.content-container p {
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #6A707B;
}

/* @media only screen and (max-width: 1860px) {
    nav li, .logo {
        width: 100%;
        margin-left: 0;
    }
} */
.logo-text {
    margin-left: 10px;
    margin-bottom: 5px;
}

.text-input-wrapper {
    border: 1px solid #E3E3E4;
    width: 663px;
    height: 70px;
    margin-left: -40px;
    background-color: #fff;
}

.text-input {
    height: 100%;
    width: 83%;
    border: none;
    outline: none;
    padding-left: 44px;
    font-family: "Arial";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #6A707B;
}

.text-input:hover {
    color: #131821;
}

.text-input-wrapper:hover {
    border: 1px solid #4066A5;
}

.arrow {
    outline: none;
}

.line {
    position: absolute;
    width: 4px;
height: 70px;
background: #4066A5;
}

label {
    padding-left: 25px;
    font-family: "Arial";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #6A707B;
}

.content-container a {
    color:#131821;
    text-decoration:underline;
}

.content-container a:hover {
    color: #4066A5;
}

.content-container a:active {
    color: #233759;
}

.checkbox{
    opacity: 0;
    margin-top: 34px;
}

.mycheckbox {
    position: absolute;
    margin-top: 25px;
    left: 160px;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: -20px;
    border: 1px solid #E3E3E4;
    border-radius: 3px;
    text-align: center;
    z-index: -2;
}

.mycheckbox img {
    width: 50%;
}

.mycheckbox-clicked{
    background: #4066A5;
}

hr {
    color: #E3E3E4;
    margin-top: 50px;
    margin-bottom: 45px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    float: left;
    width: 46px;
height: 46px;
border: 2px solid #E3E3E4;
border-radius: 100%;
}

i {
    color: #131821;
opacity: 0.3;
}

.icon:hover {
    color: white;
    opacity: 1;
}

.youtube {
    margin-right: 0;  
}

.icon-wrapper {
    width: 250px;
    margin: 0 auto;
}

.facebook:hover{
    background-color: #4267B2;
}

.instagram:hover{
    background-color: #C13584;
}

.twitter:hover{
    background-color: #1DA1F2;
}

.youtube:hover{
    background-color: #FF0000;
}

.facebook:focus{
    background-color: #2F4A80;
}

.instagram:active{
    background-color: #8F2762;
}

.twitter:active{
    background-color: #177FBF;
}

.youtube:active{
    background-color: #CC0000;
}

@media only screen and (max-width: 768px){
    .content-container {
        position:relative;
        padding: 40px;
        background-color: #fff;
        overflow: hidden;
        margin: 200px 40px;
        /* width:100%; */
        /* display: flex;
        flex-direction: column;
        flex: 0 0 335px; */
        z-index:-3;
    }

    .text-input-wrapper {
        width: 100%;
        margin-left: 0;
    }

    .text-input {
        width: 75%;
    }

    .left-side {
        flex-shrink: 1;
    }

    .mycheckbox {
        left: initial;
    }

    .checkbox {
        margin-left: 6px;
    }

    nav {
        width: 100%;
        margin-top: 0;
        background-color: white;
        display:flex;
        align-items: center;
    }

    .logo-text {
        display: none;
    }

    nav li, .logo {
        margin-top: 0;
    }

    .logo {
        margin-left: 30px;
        width: 40%;
    }
}

@media only screen and (max-width: 679px){
    .left-side {
        background-image: url(./img/image_summer.jpg);
        background-size: cover;
        background-position: -380px;
        
    }
}

.message {
    width: 90%;
    padding: 20px;
    margin-top: 30px;
}

.cup {
    padding-bottom: 20px;
}

/* .success-message {
    display: none;
} */